services:
  app:
    build: .
    command: sh -c "deno task dev:client & deno task dev:server"
    ports:
      - "3030:3030"
    env_file:
      - .env
    volumes:
      - .:/app

  ngrok:
    image: ngrok/ngrok:latest
    command: http app:3030
    environment:
      NGROK_AUTHTOKEN: ${NGROK_AUTHTOKEN}
    ports:
      - "4040:4040"
    depends_on:
      - app
